* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(
        135deg,
        #ffecd2,
        #fcb69f
    ); /* Dégradé chaleureux */
    color: #1a202c;
}

.container {
    width: 90%;
    max-width: 400px;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #2d3748;
    margin-bottom: 1.5rem;
}

.image {
    width: 100%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.image img:hover {
    transform: scale(1.05);
}

.form input {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #e2e8f0;
    border-radius: 5px;
    margin-bottom: 1rem;
    background-color: #f1f5f9;
    transition: all 0.3s ease;
    color: #2d3748;
}

.form input:focus {
    outline: none;
    border-color: #a0aec0;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.3);
}

button {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    background-color: #ff7f50; /* Corail doux */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #ff6347; /* Corail intense */
}

button:active {
    transform: scale(0.98);
}
